AZURE_AI_PROJECT_ENDPOINT=
AZURE_AI_MODEL_DEPLOYMENT_NAME=
AZURE_OPENAI_ENDPOINT=
APPLICATIONINSIGHTS_CONNECTION_STRING=
ENABLE_TRACE_CONTENT_RECORDING=false

POSTGRES_HOST=<server>.postgres.database.azure.com
POSTGRES_DATABASE=deepagents
POSTGRES_USER=<your-Entra-UPN>
POSTGRES_SSLMODE=require

AZURE_OPENAI_ENDPOINT=...
AZURE_OPENAI_EMBEDDING_DEPLOYMENT=...